@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Student List</h1>

    <a href="@Url.Action("Create", "Students")" class="btn btn-primary">Create New Student</a>
</div>

